.jumbotron {
    padding: 2rem 0;
}

.jumbotron h1 {
    margin: 0;
}
.btn-generate {
    margin-bottom: 2rem;
}

.form-group {
    width: 100%;
    padding: 0.5rem 1rem !important;
    margin: 1rem 0 0;
}

.msg {
    margin-top: 1rem;
}
